<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruiqi.works"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- NFC权限 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 这个权限用于进行网络定位-->
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<!-- 这个权限用于访问GPS定位-->
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
<!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
<!-- 用于读取手机当前的状态-->
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<!-- 访问网络，网络定位需要上网-->
<uses-permission android:name="android.permission.INTERNET" />
<!-- SD卡读取权限，用户写入离线定位数据-->
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

     
    
    <!-- 激光推送 -->
      <permission android:name="com.ruiqi.works.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.ruiqi.works.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> 

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    
     <!-- 激光推送 -->
    
    

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
   
    <application
        android:name="com.ruiqi.application.WorksApplication"
        android:allowBackup="true"
        android:icon="@drawable/name"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ruiqi.works.StartPager"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name="com.ruiqi.works.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".FindActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PersonalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyOrderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GrassOrder"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AllOrder"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OrderInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ModifiyOrderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WeightActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- NFC界面 -->
        <activity
            android:name=".NfcActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TAG_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.NDEF_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".NullActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SubsidiaryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelfActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BackBottleOrder"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BackBottleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BackSaoMiaoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BackSureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreateOrderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyMoneyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OutMoneyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ArrearsUserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ArrearsDeails"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ReceiActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StockActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PingOutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PingInActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PeijianActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GoodsReceiActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.BottleWeightDeails"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.TakePhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.OrderConfirmActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.SelectPeiJianActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.ApplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.UpdatePeiJianActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.ApplyPeiJianConfirm"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.ApplyLookActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.OlderPjActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.ApplyPjCommitActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.ApplyPjDeailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 柴 -->
        <activity
            android:name="com.ruiqi.chai.PartsDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.chai.PingInActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.chai.PingOutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.chai.PeijianInActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.chai.PeijianOutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.chai.ChaiCreateOrder"
            android:screenOrientation="portrait" >
        </activity>
        <!-- xu -->
        <activity
            android:name="com.ruiqi.works.CheckActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.DownOrderActivity"
            android:screenOrientation="portrait" >
            </activity>
        <activity
            android:name="com.ruiqi.xuworks.CreateGassActivity"
            android:screenOrientation="portrait" >
            </activity>
        <activity
            android:name="com.ruiqi.works.AddPeijianActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.AddZhekou"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.CommintOrder"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.works.SelectYouhuiActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.xuworks.DeductionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.xuworks.ChangeOrderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.xuworks.CashAndDiscountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.xuworks.CanyeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.xuworks.ResidueGassActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.xuworks.NewOrderInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.xuworks.ZheJiuActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.xuworks.PayMoneyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.xuworks.DebtActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ruiqi.xuworks.SelfUserActivity"
            android:screenOrientation="portrait" >
         </activity>
            <activity
            android:name="com.ruiqi.xuworks.SelfInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.SelfCheckActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.SelfPhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.BackBottleOrderInfo"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.XuBackSureActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.FinishBottleActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.PeijianBackShopActvity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.Repairorder"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.RepairInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.CheckBottleInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.ChangeMessageActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.BackShopActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.BackShopNotesActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.BackShopDetialsActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.BackShopApplyActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.BackShopOldApply"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.NewZhejiuActivity"
            android:screenOrientation="portrait" >
        </activity>
       
            <activity
            android:name="com.ruiqi.xuworks.ChangePassWardActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.BackGassOrderActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.ZheJiuOrderListActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.ZhejiuInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.ChangeOrderListActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.ChangeOrderInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.BackAndChangeList"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.BackBottleResidueGassActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.XuBottleGassCommint"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.AdvanceCommintActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.RobOrderActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.works.WorksYouhuiActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.ruiqi.xuworks.TurnOverActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 柴 -->
        
        <!-- 激光推送 -->
        <!-- Required SDK 核心功能-->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
         <service
             android:name="cn.jpush.android.service.DaemonService"
             android:enabled="true"
             android:exported="true">
             <intent-filter >
                 <action android:name="cn.jpush.android.intent.DaemonService" />
                 <category android:name="com.ruiqi.works"/>
             </intent-filter>
         </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
          <intent-filter android:priority="1000"> 
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> 
                <category android:name="com.ruiqi.works"/> 
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
     <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.ruiqi.works" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器-->
         <receiver
             android:name="com.ruiqi.receiver.JpushReceiver"
             android:enabled="true">
             <intent-filter>
                 <!--Required 用户注册SDK的intent-->
                 <action android:name="cn.jpush.android.intent.REGISTRATION" /> 
                 <!--Required 用户接收SDK消息的intent--> 
                 <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> 
                 <!--Required 用户接收SDK通知栏信息的intent-->
                 <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> 
                 <!--Required 用户打开自定义通知栏的intent-->
                 <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> 
                 <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                 <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> 
                 <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                 <action android:name="cn.jpush.android.intent.CONNECTION" />
                 <category android:name="com.ruiqi.works" />
             </intent-filter>
         </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal 7462ca9efa4c752e81ae14bb 5b274e3154953780e663e870-->
        <meta-data android:name="JPUSH_APPKEY" android:value="7462ca9efa4c752e81ae14bb"/> 
        
        <!-- 极光推送 -->
        <!-- 定位 -->
        
         <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
</service>
         <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4HsFAXIZi8v8LVp6AGxs5cRU7sno5Ned" />
        <service android:name="com.ruiqi.service.TimerService" android:enabled="true">    
        </service>
    </application>

</manifest>